$color-orange: #ff6a00;
$color-gold: #ffd700;
$color-electric-blue: #00bfff;
$color-royal-blue: #4169e1;

$color-entertainment-blue: #1e90ff;
$color-black: #000000;

$color-gradient-text: linear-gradient(
  to right,
  $color-orange,
  $color-electric-blue
);
